---
layout: default
---

<!-- <div id="kaitou" class="catalogue"> -->
  <!-- {% for post in paginator.posts %} -->
      <!-- <div> -->
        <!-- <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> -->
        <!-- <h1 id=post.id class="catalogue-title">{{ post.title }}</h1> -->
        <!-- <div class="catalogue-line"></div> -->

        <!-- <p> -->
          <!-- {{ post.content}} -->
        <!-- </p> -->

      <!-- </div> -->
    <!-- </a> -->
  <!-- {% endfor %} -->
<!-- </div> -->
<div id="kaitou" class="catalogue">
  <div id="secIntro">
    <h1 class="catalogue-title">{{ "" }}</h1>
    <div class="catalogue-line"></div>
    <p>
      I am Shangquan Sun, currently a master student at <a href="https://lsa.umich.edu/">the University of Michigan</a> (UM), majoring data science. I obatained my B.S. degree in Electrical and Computer Engineering at 
      <a href="http://umji.sjtu.edu.cn/">Shanghai Jiao Tong University (SJTU), UM-SJTU Joint Institute </a>. 
    </p>
  </div>

  <div id="secCourse">
    <h1 class="catalogue-title">{{ "Selected Courses" }}</h1>
    <div class="catalogue-line"></div>
    <p>
      University of Michigan:
      <br>
      EECS 545 Machine Learning, EECS 549 Information Retrieval, EECS 484 Database Management System, EECS 598 Special topic in Human-Computer Interaction, EECS 598 Special topic in Systems for AI, 
      <br>
      Shanghai Jiao Tong University
      <br>
      VE 280 Programming and Data Structures, VE 281 Data Structures and Algorithms, EECS 477 Intro. to Algorithms, VE 482 Intro. to Operating Systems, VE 270 Intro. to Logic Design, VE 370 Intro. to Computer Organization, VE 488 Data Mining and Machine Learning, VE 492 Intro. to Atificial Intelligence, 
    </p>
  </div>

  <div id="secProject">
    <h1 class="catalogue-title">{{ "Selected Projects" }}</h1>
    <div class="catalogue-line"></div>
    <p>
      title
      [code][report] 
    </p>
  </div>
  
  <div id="secActivity">
    <h1 class="catalogue-title">{{ "Selected Activities" }}</h1>
    <div class="catalogue-line"></div>
    <p>
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
      Teaching
      Volunteer
    </p>
  </div>

  <div id="secMisc">
    <h1 class="catalogue-title">{{ "Miscellaneous" }}</h1>
    <div class="catalogue-line"></div>
    <p>
      Awards
    </p>
  </div>
</div>

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %} -->

  <!-- <span>{{ paginator.page }}</span> -->
</div>
